{% extends "base.html" %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href='{% static "critics/abonnement.css" %}'>
{% endblock extrahead %}
{% block content %}
<div class="container">
    <h2>Suivre d'autres utilisateurs</h2>
    {% if feedback %}
        <h3>{{ feedback }}</h3>
    {% endif %}
    <form method="post">
        {{ userfollow_form.as_p }}
        {% csrf_token %}
        <button type="submit">Envoyer</button>
    </form>
    <h2>Abonnements</h2>
    <table>
        {% for user in followed_users %}
        <tr>
            <td class="user-followed"><p>{{ user.followed_user }}</p></td>
            <td class="button">
                <form class="unfollow-button" method="post">
            {% csrf_token %}
                {{ unfollow_form.as_table }}
            <button type="submit" name="user_to_unfollow" value="{{ user.followed_user }}">Désabonner</button>
        </form></td>
    </tr>
    {% endfor %}
    </table>
    <h2>Abonnés</h2>
    <table>
    {% for user in following_users %}
    <tr>
        <td class="user-following"><p>{{ user.user }}</p></td>
    </tr>
    {% endfor %}
    </table>
</div>
{% endblock content %}
