{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
    <link rel="stylesheet" href='{% static "critics/flux.css" %}'>
{% endblock extrahead %}
{% block content %}
<div class="container">
    <div class="button_pair">
        <a href="/createticket">Demander une critique</a>
        <a href="/createreview">Créer une critique</a>
    </div>
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'critics/ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'critics/review_snippet.html' %}
        {% endif %}
    {% endfor %}
    
    {% for ticket in tickets %}
        <div class="ticket">
            <p>Vous avez demandé une critique</p>
            <p class="date">{{ ticket.time_created }}</p>
            <h1>{{ ticket.title }}</h1>
            <p>{{ ticket.description }}</p>
            <img src="{{ ticket.image.url}}" alt="Image du ticket">
        </div>
    {% endfor %}
    {% for review in reviews %}
        <div class="review">
            <h1>{{ review.headline }}</h1>
            <h2>{{ review.user }}</h2>
            <p>{{ review.body }}</p>
        </div>
    {% endfor %}
</div>

{% endblock content %}