{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
    <link rel="stylesheet" href='{% static "critics/flux.css" %}'>
{% endblock extrahead %}
{% block content %}
<div class="container">
    <div class="button_pair">
        <a href="/createticket">Demander une critique</a>
        <a href="/createreview">Créer une critique</a>
    </div>
    
    {% for ticket in tickets %}
        <div class="ticket">
            <h1>{{ ticket.title }}</h1>
            <p>{{ ticket.description }}</p>
            <img src="{{ ticket.image.url}}" alt="Image du ticket">
        </div>
    {% endfor %}
    {% for review in reviews %}
        <div class="review">
            <h1>{{ review.headline }}</h1>
            <p>{{ review.body }}</p>
        </div>
    {% endfor %}
</div>

{% endblock content %}