{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
    <link rel="stylesheet" href='{% static "critics/flux.css" %}'>
{% endblock extrahead %}
{% block content %}
<div class="container">
    <div class="button_pair">
        <a href="/createticket">Demander une critique</a>
        <a href="/createreview">Créer une critique</a>
    </div>
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'critics/ticket_snippet.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'critics/review_snippet.html' %}
        {% endif %}
    {% endfor %}
</div>

{% endblock content %}