{% extends 'base.html' %}
{% load static %}


{% block extrahead %}
    <link rel="stylesheet" href='{% static "critics/my_posts.css" %}'>
{% endblock extrahead %}
{% block content %}
<div class="container">
    {% for post in posts %}
        {% if post.content_type == 'TICKET' %}
            {% include 'critics/ticket_snippet_modify.html' %}
        {% elif post.content_type == 'REVIEW' %}
            {% include 'critics/review_snippet_modify.html' %}
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}
