{% load static %}
<div class="ticket">
    {% if post.user == request.user %}
    <p class="titre">Vous avez demandé une critique</p>
    {% else %}
    <p class="titre">{{ post.user }} a demandé une critique</p>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p class="date">{{ post.time_created|date:"H:i, d F Y" }}</p>
    <p>{{ post.description }}</p>
    {% if post.image %}
    <img src="{{ post.image.url}}" alt="Image du ticket">
    {% endif %}
    {% if not post.review_set.exists %}
    <a class="create-link" href="{% url 'add_review' post.id %}">Créer une critique</a>
    {% endif %}
</div>
