{% load static %}
<div class="ticket">
    {% if post.user == request.user %}
    <p>Vous avez demandé une critique</p>
    {% else %}
    <p>{{ post.user }} a demandé une critique</p>
    {% endif %}
    <p class="date">{{ post.time_created|date:"H:i, d F Y" }}</p>
    <h1>{{ post.title }}</h1>
    <p>{{ post.description }}</p>
    {% if post.image %}
    <img src="{{ post.image.url}}" alt="Image du ticket">
        {% endif %}
    <a href="{% url 'modify_post' post.id %}">Modifier</a>
    <a href="{% url 'delete_post' post.id %}">Supprimer</a>
</div>
