.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

form {
    text-align: center;
    width: 1200px;
    background-color: #f5f5f5;
    margin: auto;
    display: flex;
    flex-direction: column;
}

p {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

textarea {
    resize: none;
}


form label {
    font-weight:bold;
}


p label {
    margin-bottom: 5px;
}

.ticket {
    width: 900px;
    background-color: lightgrey;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.ticket a {
    text-align: right;
    margin: 20px;
}
.review {
    display: flex;
    flex-direction: column;
    margin-top: -3px;
}
#id_rating {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
}
.button {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}
h2 {
    margin: 20px 0px 20px 10px;
    text-align: center;
}
.date {
    text-align: center;
}
img {
    width: 300px;
    margin: 10px 10px 10px 10px;
}


form button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}
