.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button_pair {
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    width: 600px;
}

.button_pair a:nth-child(1) {
    text-align: center;
    grid-column: 1;
}

.button_pair a:nth-child(2) {
    text-align: center;
    grid-column: 2;
}

.button_pair a{
    margin: 10px;
}

.container:last-child{
    margin-bottom: 50px;
}

.titre {
    margin-top: 10px;
}

.ticket,
.review {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    outline: 2px black solid;
    width: 900px;
}

.create-link {
    text-align: right;
    margin: 40px;
}

img {
    width: 300px;
    margin: 10px 10px 10px 10px;
}

.date {
    text-align: right;
}

.sub-ticket {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    outline: 2px black solid;
}

h1 {
    text-align: left;
    margin-bottom: 5px;
}

.review a{
    text-align: center;
    width: 150px;
    margin: 5px;
}
.ticket a{
    text-align: center;
    width: 150px;
    margin: 5px;
}
