.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button_pair {
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    width: 600px;
}

.button_pair a:nth-child(1) {
    text-align: center;
    grid-column: 1;
}

.button_pair a:nth-child(2) {
    text-align: center;
    grid-column: 2;
}

.ticket,
.review {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    outline: 2px black solid;
    width: 900px;
}

img {
    width: 300px;
    margin: 10px 0px 0px 0px;
}

.date {
    text-align: right;
}