.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

form {
    text-align: center;
    width: 700px;
    margin: auto;
}

textarea {
    resize: none;
}
p {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

p label {
    margin-bottom: 5px;
}
img {
    width:300px;
}
