.signup {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 500px;
}

.fieldWrapper {
    margin: 10px;
}

.help {
    margin: 10px;
    font-size: 13px;
}

form {
    margin: 10px 0px 10px 0px;
}

.button {
    float:right;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.button a {
    height: 40px;
}

.button button{
    padding: 10px;
    border-radius: 10px;
    height: 40px;
}
