<!DOCTYPE html>
<html>

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'litreview/base.css' %}">
    {% block extrahead %}{% endblock extrahead %}
    <title>LITReview</title>
</head>

<body>
    <header>
        <h1>LITReview</h1>
        {% if user.is_authenticated %}
        <ul>
            <li>Flux</li>
            <li>Posts</li>
            <li>Abonnements</li>
            <li><a href="{% url 'logout' %}">Se déconnecter ({{ request.user }})</a></li>
        </ul>
        {% endif %}

    </header>
    {% block content %}{% endblock content %}
</body>

</html>