{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/login.css' %}">
    <div class="landing">
        <div class="register">
            <h2>Inscrivez-vous maintenant</h2>
            <a href="{% url 'signup' %}">S'inscrire</a>
        </div>
        <div class="connect">
            <p>{{ message }}</p>
            <h2>Connectez-vous</h2>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock content %}
